{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Give Directly{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="container-fluid">
            <div ><img src="{% static 'giveicon.png'%}" alt="giving-icon">
                <h1>Give Directly</h1></div>
            <div>
                {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
                {% else %}
                Not signed in.
                {% endif %}
            </div>
        </div>
        
        

        <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="nav nav-pills nav-fill justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="dropbtn">Donation Category</button>
                        <div class="dropdown-content">
                            {%for category in categories%}
                            <a href="{% url 'category' category%} ">{{category}}</a>
                            {%endfor%}
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'indexrequesting' %}">Active Requests</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="dropbtn">Request Category</button>
                        <div class="dropdown-content">
                            {%for category in requestorcategory%}
                            <a href="{% url 'requestorcategory' category%} ">{{category}}</a>
                            {%endfor%}
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'matchedview' %}">Matched</a>
                </li>

                {% if user.is_authenticated%}
               
                {% if user.profile.is_donor%}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'donate' %}">Add Donation</a>
                </li>
                {% endif %}

                {% if user.profile.is_requestor%}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'askfordonation' %}">Add Request</a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <hr>
        {% block body %}
        {% endblock %}
    </div>
</body>

</html>